* {
    margin:0px;
}
body{

    background-color: #f1f1e6;
}
.header{
    background-color: #293B49;
    height: 60px;
    padding: 10px 50px;
    box-sizing: border-box;
}
.header__logo{
    width: 200px;
    position: relative;
  
}
.product{
    font-family: Arial, Helvetica, sans-serif;
    padding: 25px 50px;
    height: auto;
    display: grid;
    grid-row-gap: 10px;
}
.product__image{
    width: 100%;
    border-radius: 0 0 60px 0;
}
.product__title,
.product__price{
    color:#33a2dd;
    font-size: 28px;
}
.product__price{
    font-size: 32px;
}
.product__description,
.product__medidas{
    font-size: 18px;
    color: #494949;
}
.product__btn{
    background-color: #feb700;
    border:none;
    height: 40px;
    color:white;
    font-weight: bold;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 10px;
    width: 260px;
}